name: Kopi .NET CI & Release

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  release:
    types: [ created ]

permissions:
  contents: write

jobs:
  # 1. BUILD & TEST
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - run: dotnet restore KopiCommunity.sln
    - run: dotnet build KopiCommunity.sln --no-restore --configuration Release
    - run: dotnet test --no-build --verbosity normal --configuration Release
  publish-nuget:
    name: Publish NuGet
    if: github.event_name == 'release'
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Get Version
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
    
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    
    # Pack Core Library
    - run: dotnet pack ./Kopi.Core/Kopi.Core.csproj -c Release -o ./nuget /p:Version=${{ env.RELEASE_VERSION }}
    
    # Pack CLI Tool
    - run: dotnet pack ./Kopi.Community.cli/Kopi.Community.cli.csproj -c Release -o ./nuget /p:Version=${{ env.RELEASE_VERSION }}

    - name: Push to NuGet
      run: |
        dotnet nuget push ./nuget/*.nupkg \
          --api-key ${{ secrets.NUGET_API_KEY }} \
          --source "https://api.nuget.org/v3/index.json" \
          --skip-duplicate